// Override default variables before the import
$primary: #d3608c;
$secondary: #e8fce9;
$success: #fcfbe8;
$danger: #dc3545;
$warning: #ffc107;
$info: #e8f0fc;
$light: #fff;
$dark: #343a40;

@import '~bootstrap/scss/bootstrap.scss';
