.header {
  display: grid;
  grid-template-columns: 25% 40% 30%;
  padding: 0;
  flex-direction: row;
  align-items: center;
  height: 80px;
  background-color: #dd4a83;
}

.header img {
  width: 100px;
  height: auto;
  margin: -15px 0 0 -5px;
}

.header h3 {
  text-align: center;
  font-weight: 600;
  line-height: 20px;
}

.dropdown {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: #dd4a83;
  position: absolute;
  width: 150px;
  top: 25px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 6px;
}

.dropdownList {
  position: absolute;
  background-color: #ce4378;
  top: 30px;
  width: 150px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  z-index: 1;
}